@use "@/assets/styles/variables.scss" as *;
@use "@/assets/styles/mixins.scss" as *;

.header-desktop-menu {
  display: none;

  @include mediaDesktop {
    display: flex;
    flex-direction: row;
    gap: 32px;
    padding-left: 172px;
  }

  &__item {
    position: relative;
    color: $main_grey;
    transition: color 0.6s ease-in-out;

    &:hover {
      @include mediaLaptop {
        color: $main_purple;
      }
    }
  }
}
