@use '@/assets/styles/variables.scss' as *;
@use '@/assets/styles/mixins.scss' as *;

.some-table {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 96px;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;

  @include mediaTablet {
    gap: 64px;
    padding-bottom: 124px;
  }

  @include mediaLaptop {
    gap: 64px;
    padding-bottom: 144px;
  }

  &.visible {
    opacity: 1;
  }

  &__title {
    color: $main_purple;

    @include font_title;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 32px;
    border-bottom: 1px solid rgb(66, 76, 92, 0.12);

    @include mediaTablet {
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 40px;
    }

    &_title {
      @include font_16_400;
    }

    &_text {
      @include font_16_400;

      @include mediaTablet {
        width: 424px;
      }

      @include mediaLaptop {
        width: 784px;
      }

      @include mediaDesktop {
        width: 966px;
      }
    }
  }
}
