@use '@/assets/styles/variables.scss' as *;
@use '@/assets/styles/mixins.scss' as *;

.products {
  display: flex;
  flex-direction: column;
  padding-bottom: 96px;
  gap: 8px;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;

  &.visible {
    opacity: 1;
  }

  @include mediaLaptop {
    flex-direction: row;
  }
}
