@use "@/assets/styles/variables.scss" as *;
@use "@/assets/styles/mixins.scss" as *;

.ui-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &_outline {
    font-weight: 400;
    color: $main_purple;
    border: 1px solid $main_purple_light;
    transition: all 0.3s ease;

    &:hover {
      @include mediaLaptop {
        border: 1px solid $main_purple_dark;
      }
    }
  }

  &_outline-rounded {
    font-weight: 400;
    color: $text_primary;
    border: 1px solid rgb(66, 76, 92, 0.12);
    border-radius: 50px;
    transition: all 0.3s ease;

    &:hover {
      @include mediaLaptop {
        color: $main_purple;
        border: 1px solid $main_purple;
      }
    }
  }

  &_text {
    color: $main_purple;
    font-weight: 600;
    transition: color 0.3s ease;

    > button {
      position: relative;
    }

    > button::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 1px;
      width: 100%;
      background-color: $main_purple;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.6s ease-in-out;
    }

    &:hover {
      @include mediaLaptop {
        > button::after {
          transform: scaleX(1);
        }
      }
    }
  }

  &_fill {
    color: $white;
    background-color: $main_purple;
    transition: background-color 0.3s ease;

    &:hover {
      @include mediaLaptop {
        background-color: $main_purple_dark;
      }
    }
  }

  &_fill-reverse {
    color: $main_purple;
    background-color: $white;
    transition: color 0.3s ease;

    &:hover {
      @include mediaLaptop {
        color: $main_purple_dark;
      }
    }
  }

  &_fill-rounded {
    color: $white;
    border: 1px solid $main_purple;
    background-color: $main_purple;
    border-radius: 50px;
    transition: background-color 0.3s ease;
  }

  &_small {
    width: fit-content;
    height: fit-content;
    padding: 16px 32px;
  }

  &_medium {
    width: fit-content;
    height: fit-content;
    padding: 16px 40px;
  }

  &_full {
    padding: 22px 0;
    width: 100%;
  }
}
