@use '@/assets/styles/variables.scss' as *;
@use '@/assets/styles/mixins.scss' as *;

.modal-thank-for-request {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
  z-index: 998;

  &__inner {
    position: relative;
    width: 100%;
    height: calc(100dvh - 128px);
    padding: 64px 24px;
    background-color: $white;
    z-index: 999;

    @include mediaTablet {
      width: 720px;
      height: fit-content;
      max-height: 100dvh;
      padding: 64px 16px;
    }
  }

  &__title {
    color: $main_purple;
    margin-bottom: 16px;

    @include font_title;
  }

  &__subtitle {
    margin-bottom: 40px;

    @include font_20_400;
  }
}
