@use '@/assets/styles/variables.scss' as *;
@use '@/assets/styles/mixins.scss' as *;

.modal-thank-for-request {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
  z-index: 998;

  &__inner {
    position: relative;
    width: 100%;
    height: calc(100% - 48px);
    padding: 64px 24px;
    background-color: $white;
    z-index: 999;

    @include mediaTablet {
      width: 720px;
      height: calc(331px - 128px);
      padding: 64px 16px;
    }
  }

  &__title {
    color: $main_purple;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 16px;

    @include mediaTablet {
      font-size: 54px;
    }
  }

  &__subtitle {
    margin-bottom: 40px;
    color: $text_primary;
    font-size: 16px;
    font-weight: 400;

    @include mediaTablet {
      font-size: 20px;
    }
  }
}
