@use "@/assets/styles/variables.scss" as *;

.ui-input-dark {
  position: relative;
  display: flex;
  padding: 19px 24px;
  cursor: text;
  box-shadow: inset 0 0 0 1px rgb(66, 76, 92, 0.12);

  &__required {
    position: absolute;
    top: 6px;
    left: 6px;
    color: $main_purple;

    &.errored {
      color: $main_error;
    }
  }

  &__placeholder {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(66, 76, 92, 0.5);
  }

  &__error {
    position: absolute;
    top: 110%;
    left: 3%;
    color: $text_primary;
    white-space: nowrap;
    pointer-events: none;
  }

  &.focused {
    box-shadow: inset 0 0 0 1px $main_purple;
    background-color: $main_grey_light;

    .ui-input-dark__placeholder {
      opacity: 0;
      visibility: hidden;
    }
  }

  &.errored {
    box-shadow: inset 0 0 0 1px $main_error;
    background-color: rgba(255, 85, 85, 0.2);
    margin-bottom: 20px;
  }
}

.ui-input-light {
  position: relative;
  display: flex;
  padding: 19px 24px;
  color: $white;
  cursor: text;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2);

  &__required {
    position: absolute;
    top: 6px;
    left: 6px;
    color: $white;

    &.errored {
      color: $main_error;
    }
  }

  &__placeholder {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.72);
  }

  &__error {
    position: absolute;
    top: 110%;
    left: 3%;
    color: $white;
    white-space: nowrap;
    pointer-events: none;
  }

  &.focused {
    box-shadow: inset 0 0 0 1px $white;
    background-color: $main_purple_dark;

    .ui-input-light__placeholder {
      opacity: 0;
      visibility: hidden;
    }
  }

  &.errored {
    box-shadow: inset 0 0 0 1px $main_error;
    background-color: rgba(255, 85, 85, 0.2);
    margin-bottom: 20px;
  }
}
