@use '@/assets/styles/variables.scss' as *;

@mixin mediaTablet {
  @media screen and (min-width: $tablet) {
    @content;
  }
}

@mixin mediaLaptop {
  @media screen and (min-width: $laptop) {
    @content;
  }
}

@mixin mediaDesktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}

@mixin font_title {
  color: $main_purple;
  font-size: 36px;
  font-weight: 600;

  @include mediaTablet {
    font-size: 54px;
  }
}

@mixin font_text_primary {
  color: $text_primary;
  font-size: 16px;
  font-weight: 400;

  @include mediaTablet {
    font-size: 20px;
  }
}
