// Colors
$white: white;
$main_grey: #424c5c;
$main_grey_light: #f4f5f9;
$main_purple: #696fe5;
$main_purple_light: #cbcdf4;
$text_primary: #424c5c;

// Brakepoints
$tablet: 720px;
$laptop: 1080px;
$desktop: 1440px;
