@use '@/assets/styles/variables.scss' as *;
@use '@/assets/styles/mixins.scss' as *;

.about-studio-header {
  @include mediaTablet {
    padding-top: 144px;
  }

  display: flex;
  flex-direction: column;
  gap: 40px;

  @include mediaLaptop {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__title {
    color: $main_purple;

    @include font_title;
  }

  &__subtitle {
    max-width: 600px;
    margin-top: 16px;

    @include font_20_400;
  }
}
